<h1>Editing funding plan</h1>

<%= render "form", funding_plan: @funding_plan %>

<br>

<div>
  <%= link_to "Show this funding plan", @funding_plan %> |
  <%= link_to "Back to funding plans", funding_plans_path %>
</div>
