<div class="container">
  <div class="row">
    <div class="col p-4">
      <div class="card">
        <div class="card-header">
          <h1>New idea</h1>
        </div>
        <div class="card-body">

          <%= render "form", idea: @idea %>

          <br>

        <div>
          <%= link_to "Back to ideas", ideas_path %>
        </div>
      </div>
    </div>
  </div>
</div>