<div class="row">
  <div class="col p-4">
    <div class="card">
      <div class="card-header">
        <p style="color: green"><%= notice %></p>

        <h1>Articles</h1>
      </div>

      <div id="articles" class="card-body">
        <% @articles.each do |article| %>
          <%= render article %>
          <p>
            <%= link_to "Show this article", article %>
          </p>              
        <% end %>
      </div>

      <div class="card-footer">
        <%= link_to "New article", new_article_path %>
      </div>
    </div>
  </div>
</div>                                  