  <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
            <%= image_tag "https://miro.medium.com/v2/0*L0rGdSfS3W0kytcU", height: 200 %>
                  <h1 class="text-body-emphasis">Awesomeness</h1>
                        <p class="col-lg-8 mx-auto fs-5 text-muted">
                                Creating a new Rails project on a newly set up WSL involves several steps, including installing necessary dependencies, setting up Ruby, and creating the Rails project.
                                      </p>
                                            <div class="d-inline-flex gap-2 mb-5">
                                                    <button class="d-inline-flex align-items-center btn btn-danger btn-lg px-4 rounded-pill" type="button">
                                                              Ruby on Rails
                                                                      </button>
                                                                              <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                                                                                        DEV Community
                                                                                                </button>
                                                                                                      </div>
                                                                                                          </div>
                                                                                                            </div>
