<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        
        <%= render @swot_analysis %>

        <div class="card-footer">
          <%= link_to "Edit this swot analysis", edit_business_idea_swot_analyses_path(@business_idea) %> |
          <%= link_to "Back to business idea", @business_idea %>

          <%# button_to "Destroy this swot analysis", @swot_analysis, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>