<div id="<%= dom_id business_idea %>" class="card mb-4">
  <div class="card-header pb-0">
    <strong>Title:</strong>
    <%= business_idea.title %>
  </div>

  <div class="card-body">
    <p>
      <strong>Description:</strong>
      <%= business_idea.description %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= business_idea.country %>
    </p>
  </div>
</div>