<h1>Editing pestel analysis</h1>

<%= render "form", pestel_analysis: @pestel_analysis %>

<br>

<div>
  <%= link_to "Show this pestel analysis", @pestel_analysis %> |
  <%= link_to "Back to pestel analyses", pestel_analyses_path %>
</div>
