<div id="<%= dom_id brand %>">
  <p>
    <strong>Business name:</strong>
    <%= brand.business_name %>
  </p>

  <p>
    <strong>Website domain:</strong>
    <%= brand.website_domain %>
  </p>

</div>
