.height-vh-80 {
  height: 80vh !important;
}
.multisteps-form__progress-btn {
  position: relative;
  padding: 0.75rem 1rem;
  border: 2px solid #d2d6da;
  border-radius: 8px;
  background-color: white;
  font-weight: 600;
  color: #344767;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.multisteps-form__progress-btn:hover {
  border-color: #17c1e8;
  color: #17c1e8;
}

.multisteps-form__progress-btn.js-active {
  /* background-color: #17c1e8;
  color: white;
  border-color: #17c1e8; */
  /* box-shadow: 0 4px 10px rgba(23, 193, 232, 0.3); */
}
.multisteps-form__progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px 0;
}
