<h1>Editing entrepreneurial skills user response</h1>

<%= render "form", entrepreneurial_skills_user_response: @entrepreneurial_skills_user_response %>

<br>

<div>
  <%= link_to "Show this entrepreneurial skills user response", @entrepreneurial_skills_user_response %> |
  <%= link_to "Back to entrepreneurial skills user responses", entrepreneurial_skills_user_responses_path %>
</div>
