<h1>New entrepreneurial skills user response</h1>

<%= render "form", entrepreneurial_skills_user_response: @entrepreneurial_skills_user_response %>

<br>

<div>
  <%= link_to "Back to entrepreneurial skills user responses", entrepreneurial_skills_user_responses_path %>
</div>
